<table>
    <tr>
        <td id="rate_and_relate">
            <a href="{{site.baseurl}}/rate_and_relate/home">
                <img src="{{site.baseurl}}/images/rate_and_relate/rate_and_relate.png" width="50%" alt="Icon">
            </a>
        </td>
        <td id="instabox"><a href="{{site.baseurl}}/rate_and_relate/instabox">Instabox</a></td>
        <td id="flavor_fusion"><a href="{{site.baseurl}}/rate_and_relate/flavor_fusion">Flavor Fusion</a></td>
        <td id="book_review"><a href="{{site.baseurl}}/rate_and_relate/book_review">Book Reviews</a></td>
        <td id="update_the_nest"><a href="{{site.baseurl}}/rateandrelate/update_the_nest">Update The Nest</a></td>
    </tr>
</table>