<table>
    <tr>
        <td id="sharedinterests">
            <a href="{{site.baseurl}}/shared_interests/home">
                <img src="{{site.baseurl}}/images/school_logo.png" alt="logo">
            </a>
        </td>
        <td id="PLACEHOLDER1"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 1 </a></td>
        <td id="DNHS Football"><a href="{{site.baseurl}}/shared_interests/football">DNHS Football</a></td>
        <td id="PLACEHOLDER3"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 3</a></td>
        <td id="PLACEHOLDER4"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 4</a></td>
        <td id="Satire"><a href="{{site.baseurl}}/shared_interests/satire">Satire</a></td>
        <td id="PLACEHOLDER6"><a href="{{site.baseurl}}/shared_interests/agk.html">AGK</a></td>
    </tr>
</table>
