<table>
    <tr>
        <td id="sharedinterests">
            <a href="{{site.baseurl}}/shared_interests/home">
                <img src="{{site.baseurl}}/images/school_logo.png" alt="logo">
            </a>
        </td>
        <td id="PLACEHOLDER1"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 1 </a></td>
        <td id="PLACEHOLDER2"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 2</a></td>
        <td id="PLACEHOLDER3"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 3</a></td>
        <td id="PLACEHOLDER4"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 4</a></td>
        <td id="PLACEHOLDER5"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 5</a></td>
        <td id="PLACEHOLDER6"><a href="{{site.baseurl}}/shared_interests/">PLACEHOLDER 6</a></td>
    </tr>
</table>