<table>
    <tr>
        <td id="createandcompete" class="dropdownp4">
            <a href="{{site.baseurl}}/voteforthegoat/home">
                <img src="{{site.baseurl}}/images/favicon.ico" alt="Icon">
            </a>
        </td>
        
        <td class="dropdownp4">
            <a class="dropbtn">Vote Today</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/voteforthegoat/internetdebates">Internet Debates</a>
                <a href="{{site.baseurl}}/voteforthegoat/calicovote">Calico Vote</a>
                <a href="{{site.baseurl}}/voteforthegoat/dnerostore">D'nero Store</a>
                <a href="{{site.baseurl}}/voteforthegoat/beveragedebates">Beverage Debates</a>
                <a href="{{site.baseurl}}/voteforthegoat/nflgoats">NFL GOATs</a>
                <a href="{{site.baseurl}}/voteforthegoat/genres">Genres</a>
            </div>
        </td>
    </tr>
</table>