<table>
    <tr>
        <td id="createandcompete">
            <a href="{{site.baseurl}}/voteforthegoat/home">
                <img src="{{site.baseurl}}/images/favicon.ico" alt="Icon">
            </a>
        </td>
        <td id="internetdebates"><a href="{{site.baseurl}}/voteforthegoat/internetdebates">Internet Debates</a></td>
        <td id="calicovote"><a href="{{site.baseurl}}/voteforthegoat/calicovote">Calico Vote</a></td>
        <td id="dnerostore"><a href="{{site.baseurl}}/voteforthegoat/dnerostore">D'nero Store</a></td>
        <td id="Beveragedebates"><a href="{{site.baseurl}}/voteforthegoat/beveragedebates">Beverage Debates</a></td>

    </tr>
</table>